<a href="https://colab.research.google.com/github/Ashiskumargit/Divine-AI-Data-Science/blob/main/ML/4_1_SVM_OCR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn import svm

In [ ]:
letters_df = pd.read_csv("letterdata.csv")

In [ ]:
letters_df.count()

letter    20000
xbox      20000
ybox      20000
width     20000
height    20000
onpix     20000
xbar      20000
ybar      20000
x2bar     20000
y2bar     20000
xybar     20000
x2ybar    20000
xy2bar    20000
xedge     20000
xedgey    20000
yedge     20000
yedgex    20000
dtype: int64

In [ ]:
letters_df['letter'].value_counts()

U    813
D    805
P    803
T    796
M    792
A    789
X    787
Y    786
N    783
Q    783
F    775
G    773
E    768
B    766
V    764
L    761
R    758
I    755
O    753
W    752
S    748
J    747
K    739
C    736
H    734
Z    734
Name: letter, dtype: int64

In [ ]:
letters_df.head(10)

,letter,xbox,ybox,width,height,onpix,xbar,ybar,x2bar,y2bar,xybar,x2ybar,xy2bar,xedge,xedgey,yedge,yedgex
0,T,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8
1,I,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10
2,D,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9
3,N,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8
4,G,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10
5,S,4,11,5,8,3,8,8,6,9,5,6,6,0,8,9,7
6,B,4,2,5,4,4,8,7,6,6,7,6,6,2,8,7,10
7,A,1,1,3,2,1,8,2,2,2,8,2,8,1,6,2,7
8,J,2,2,4,4,2,10,6,2,6,12,4,8,1,6,1,7
9,M,11,15,13,9,7,13,2,6,2,12,1,9,8,1,1,8

In [ ]:
clf = svm.SVC(gamma=0.025, C=10)    
#clf = svm.SVC()

In [ ]:
X,y = np.array(letters_df)[ :, 1:16], np.array(letters_df.letter)[:]

In [ ]:
X.shape

(20000, 15)

In [ ]:
y.shape

(20000,)

In [ ]:
y

array(['T', 'I', 'D', ..., 'T', 'S', 'A'], dtype=object)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=1)

In [ ]:
clf.fit(X_train , y_train)

SVC(C=10, gamma=0.025)

In [ ]:
clf.score(X_test, y_test)

0.9658333333333333

In [ ]:
y_pred = clf.predict(X_test)
pd.crosstab(y_test, y_pred)

col_0,A,B,C,D,E,F,G,H,I,J,...,Q,R,S,T,U,V,W,X,Y,Z
row_0,,,,,,,,,,,,,,,,,,,,,
A,232,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
B,0,233,0,1,1,0,0,1,0,1,...,0,0,2,0,0,1,0,0,0,0
C,0,0,224,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
D,0,1,0,222,0,1,1,2,0,0,...,0,3,0,0,0,0,0,0,0,0
E,0,0,0,0,210,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
F,0,0,0,0,1,212,0,0,2,0,...,0,0,0,0,0,1,0,0,0,0
G,0,1,2,0,7,0,214,0,0,0,...,0,0,0,0,0,1,2,0,0,0
H,0,1,0,6,0,0,1,218,0,0,...,0,2,0,0,2,0,0,0,0,0
I,0,0,0,0,0,3,0,0,190,4,...,0,0,0,0,0,0,0,1,0,0
J,0,0,0,0,0,0,1,1,10,188,...,0,0,0,0,0,0,0,0,0,0
K,0,2,0,2,0,0,0,3,0,0,...,0,3,0,0,0,0,0,1,0,0
L,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
M,0,3,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,1,0,0,0
N,0,1,0,6,0,0,0,1,0,0,...,0,2,0,0,0,3,0,0,0,0
O,0,0,1,4,0,0,0,0,0,0,...,3,0,0,0,0,0,0,0,0,0
P,0,1,0,1,0,13,0,0,0,0,...,0,2,0,0,0,0,0,0,3,0
Q,0,0,0,0,0,0,0,0,0,0,...,232,0,0,0,0,0,0,0,0,1
R,0,5,0,2,1,0,0,1,0,0,...,1,201,0,0,0,0,0,0,0,0
S,0,0,0,0,1,0,0,0,0,0,...,0,1,252,0,0,0,0,0,0,1
T,0,0,0,0,4,0,0,0,0,0,...,0,0,0,247,0,0,0,0,0,0
U,0,0,1,0,0,0,0,1,0,0,...,0,0,0,0,238,0,0,0,0,0
V,0,5,0,0,0,1,0,0,0,0,...,0,0,0,0,0,211,0,0,0,0
W,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,227,0,0,0
X,0,1,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,233,0,0
Y,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,2,0,0,1,250,0
Z,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,233