<a href="https://colab.research.google.com/github/Ashiskumargit/Divine-AI-Data-Science/blob/main/TS/0_05_TS(_Period_%26_PeriodIndex_).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1 style="color:blue" align="center">Pandas Time Series Analysis: Period and PeriodIndex</h1>

<h3 style="color:purple">Yearly Period</h3>

In [ ]:
import pandas as pd
y = pd.Period('2016')
y

Period('2016', 'A-DEC')

In [ ]:
dir(y)

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__pyx_vtable__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_add_offset',
 '_add_timedeltalike_scalar',
 '_dtype',
 '_from_ordinal',
 '_get_to_timestamp_base',
 '_maybe_convert_freq',
 '_require_matching_freq',
 'asfreq',
 'day',
 'day_of_week',
 'day_of_year',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [ ]:
y.start_time

Timestamp('2016-01-01 00:00:00')

In [ ]:
y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [ ]:
y.is_leap_year

True

<h3 style="color:purple">Monthly Period</h3>

In [ ]:
m = pd.Period('2017-12')
m

Period('2017-12', 'M')

In [ ]:
m.start_time

Timestamp('2017-12-01 00:00:00')

In [ ]:
m.end_time

Timestamp('2017-12-31 23:59:59.999999999')

In [ ]:
m+1

Period('2018-01', 'M')

<h3 style="color:purple">Daily Period</h3>

In [ ]:
d = pd.Period('2022-01-28', freq='D')
d

Period('2022-01-28', 'D')

In [ ]:
d.start_time

Timestamp('2022-01-28 00:00:00')

In [ ]:
d.end_time

Timestamp('2022-01-28 23:59:59.999999999')

In [ ]:
d+1

Period('2022-01-29', 'D')

In [ ]:
#d+pd.offsets.Day(1)

<h3 style="color:purple">Hourly Period</h3>

In [ ]:
h = pd.Period('2022-01-28 23:34:00',freq='H')
h

Period('2022-01-28 23:00', 'H')

In [ ]:
h+1

Period('2022-01-29 00:00', 'H')

<h4>Achieve same results using pandas offsets hour</h4>

In [ ]:
h+pd.offsets.Hour(1)

Period('2022-01-29 00:00', 'H')

<h3 style="color:purple">Quarterly Period</h3>

In [ ]:
q1= pd.Period('2017Q1', freq='Q-JAN')
q1

Period('2017Q1', 'Q-JAN')

In [ ]:
q1.start_time

Timestamp('2016-02-01 00:00:00')

In [ ]:
q1.end_time

Timestamp('2016-04-30 23:59:59.999999999')

<h4>Use asfreq to convert period to a different frequency</h4>

In [ ]:
q1.asfreq('M',how='start')

Period('2016-02', 'M')

In [ ]:
q1.asfreq('M',how='end')

Period('2016-04', 'M')

<h3 style="color:purple">Weekly Period</h3>

In [ ]:
w = pd.Period('2022-01-27',freq='W')
w

Period('2022-01-24/2022-01-30', 'W-SUN')

In [ ]:
w.start_time

Timestamp('2022-01-24 00:00:00')

In [ ]:
w.end_time

Timestamp('2022-01-30 23:59:59.999999999')

In [ ]:
w-1

Period('2022-01-17/2022-01-23', 'W-SUN')

In [ ]:
w2 = pd.Period('2022-02-05',freq='W')
w2

Period('2022-01-31/2022-02-06', 'W-SUN')

In [ ]:
w2-w

<h3 style="color:purple">PeriodIndex and period_range</h3>

In [ ]:
r = pd.period_range('2011', '2017', freq='q')
r

In [ ]:
r[0].start_time

In [ ]:
r[0].end_time

**Walmart's fiscal year ends in Jan, below is how you generate walmart's fiscal quarters between 2011 and 2017**

In [ ]:
r = pd.period_range('2011', '2017', freq='q-jan')
r

In [ ]:
r[0].start_time

In [ ]:
r[0].end_time

In [ ]:
r = pd.PeriodIndex(start='2016-01', freq='3M', periods=10)
r

In [ ]:
import numpy as np
ps = pd.Series(np.random.randn(len(idx)), idx)
ps

<h4>Partial Indexing</h4>

In [ ]:
ps['2016']

In [ ]:
ps['2016':'2017']

<h4>Converting between representations</h4>

In [ ]:
pst = ps.to_timestamp()
pst

In [ ]:
pst.index

In [ ]:
ps = pst.to_period()
ps

In [ ]:
ps.index

<h3 style="color:purple">Processing Wal Mart's Financials</h3>

In [ ]:
import pandas as pd
df = pd.read_csv("wmt.csv")
df

In [ ]:
df.set_index("Line Item",inplace=True)
df = df.T
df

In [ ]:
df.index = pd.PeriodIndex(df.index, freq="Q-JAN")
df

In [ ]:
df.index

In [ ]:
df.index[0].start_time

<h4 style="color:green">Add start date end date columns to dataframe</h4>

In [ ]:
df["Start Date"]=df.index.map(lambda x: x.start_time)
df

In [ ]:
df["End Date"]=df.index.map(lambda x: x.end_time)
df