<a href="https://colab.research.google.com/github/Ashiskumargit/Divine-AI-Data-Science/blob/main/Python/7_Python(List_Tuple_String).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = ['spam', 'eggs', 100, 1234, 2*2]
print(a[0])
print(a[0:4])
print(type(a[0]))
print(type(a[0:4]))

spam
['spam', 'eggs', 100, 1234]
<class 'str'>
<class 'list'>

In [ ]:
a[2]+=23      # a[2] = a[2] + 23

In [ ]:
a

['spam', 'eggs', 123, 1234, 4]

In [ ]:
a[0:2] = [2,56]

In [ ]:
a

[2, 56, 123, 1234, 4]

In [ ]:
a[0:1] = []

In [ ]:
print(a)

[56, 123, 1234, 4]

In [ ]:
lis = [ 1, [5, 6], 7]
print(lis[1][1])

6

In [ ]:
list = range(3)

In [ ]:
list

range(0, 3)

In [ ]:
print(list)

range(0, 3)

In [ ]:
lst1 = range(10,23)

In [ ]:
lst1

range(10, 23)

In [ ]:
lst2 = range(-3)

In [ ]:
lst2

range(0, -3)

In [ ]:
friends = ['Joseph', 'Glenn', 'Sally']
for i in friends :
    print('Happy New Year:',  i)

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally

In [ ]:
f_iterator = iter(friends)
print(f_iterator)
print(type(f_iterator))

<list_iterator object at 0x000000B4E12FC9D0>
<class 'list_iterator'>

In [ ]:
next(f_iterator)

'Joseph'

In [ ]:
for i in range(len(friends)) :
    friend = i
    print('Happy New Year:',  friend)

In [ ]:
for i in range(len(friends)) :
    friend =   friends[i]
    print('Happy New Year:',  friend)

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally

In [ ]:
friends.sort(reverse=True)
print(friends)
print(friends[0])

['Sally', 'Joseph', 'Glenn']
Sally

In [ ]:
L = [9, 41, 12, 3, 74, 15]
L[::-2]

In [ ]:
lily = list()
lily.append('book')
lily.append(99)

print(lily)

TypeError: 'range' object is not callable

In [ ]:
fruit = 'Banana'
x = fruit.lower()
print(x)

banana

In [ ]:
fruit = 'Banana'
#fruit[0] = 'b'
x = fruit.lower()
print(x)

banana

In [ ]:
fruit = 'Banana'
x = fruit.upper()
print(x)

BANANA

In [ ]:
total = 0
count = 0
while True :
    inp = input('Enter a number: ')
    if inp == 'done' : 
        break
    value = float(inp)
    total = total + value     
    count = count + 1
average = total / count
print('Average:', average)

Enter a number: 45
Enter a number: 15
Enter a number: 30
Enter a number: done
Average: 30.0

In [ ]:
nums = [3, 41, 12, 9, 74, 15]
print(len(nums))
print(max(nums))
print(min(nums))
print(sum(nums))
print(sum(nums)/len(nums))